<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book App</title>
</head>

<body>
  <%- include('../partials/header') %>
  
  <main>
    <form id="searchForm" method="get" action="/searches">
      
        <input id="input1" name="search" placeholder="Enter a title or author">

        <fieldset>
          <label id="label1" for="intitle">  Title </label>
        <input  type="radio" name="searchby" value="intitle">
      </fieldset>
      <fieldset>
        <label id="label2" for="inauthor">Author</label>
        <input type="radio" name="searchby" value="inauthor">
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>

