<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book App</title>
</head>

<body>
  <header>
    
    <h1>Best Books</h1>

    <nav>
      <div class="dropdown">
      <input type="image" id="menu" src="/styles/fonts/icons/menu.png" >
      <div class="dropdown-content">
        <a href="/views/pages/index.ejs">Home</a>
        <a href="/views/pages/searches/new.ejs"> Search Google Books Api</a>
      </div>
      </div>
    </nav>
    <h2>Search by Title or Author</h2>
  </header>
  <main>
    <form id="searchForm" method="post" action="/searches">
      
        <input id="input1" name="search" placeholder="Enter a title or author">

        <fieldset>
          <label id="label1" for="intitle">  Title </label>
        <input  type="radio" name="searchby" value="intitle">
      </fieldset>
      <fieldset>
        <label id="label2" for="inauthor">Author</label>
        <input type="radio" name="searchby" value="inauthor">
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </main>
  <footer>&copy; 2020 | Lami Beach - Chuck Li</footer>
</body>

</html>

