<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book App</title>
</head>

<body>
  <%- include('../partials/header') %>
  
  <main>

      
      <button type="submit">Search the Google Books API</button>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>

