<header>
    
  <h1>Best Books</h1>

  <nav>
    <div class="dropdown">
    <input type="image" id="menu" src="/styles/fonts/icons/menu.png" >
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/new"> Search Google Books Api</a>
    </div>
    </div>
  </nav>
  
  <h2>Search by Title or Author</h2>

</header>