<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>
  <header>
    <h1>Forms and Such</h1>
  </header>
  <main>
    <h1>Name:<%=person.name%> </h1>

    <%person.pets.forEach(pet => {%>
        <li>Pets:<%=pet%></li>

        <%})%>

    

  </main>
  <footer>
    &copy; 2020 Lami
  </footer>

</body>

</html>