<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>

  <%- include('../partials/header') %>

  </main>
  <footer>
    &copy; 2020 Lami & Chuck
  </footer>

</body>

</html>