<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>

  <%- include('../pages/partials/header') %>
  
  <main>
  </main>
  
  <%- include('../pages/partials/footer') %>

</body>

</html>