* {
  box-sizing: border-box;
}


header {
  background: #111;
  color: ivory;
  line-height: 150px;
  text-align: left;
}

footer {
  background: #111;
  color: ivory;
  line-height: 100px;
  text-align: center;
}

main {
  padding: 2rem;
  text-align: center; 
  background-color: gray;
}

#title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

#author {
  text-align: center;
}

section {
  background-color: lightgray;
  text-align: justify;
  padding: 2rem 1rem;
}

h2 {
  background: gray;
  line-height: 100px;
  text-align: center;
  color: ivory;
}

